$layer-bg-color: #5a6cb3;
$layer-bg-color-hover: darken($layer-bg-color, 20%);
$layer-bg-color-selected: darken($layer-bg-color, 15%);
$layer-text-color: white;
$svg-background-color: white;
$master-bg-color: #c1c1c1;
$separator-color: darken($master-bg-color, 50%);
$separator-color: darken($master-bg-color, 50%);