$layer-bg-color: #5a6cb3;
$layer-bg-color-hover: darken($layer-bg-color, 20%);
$layer-bg-color-selected: darken($layer-bg-color, 15%);
$layer-text-color: white;
$svg-background-color: white;
$master-bg-color: #c1c1c1;
$separator-color: darken($master-bg-color, 50%);
$label-bg-color: #707acf;
$label-bg-color-hover: darken($label-bg-color, 20%);
$label-bg-color-selected: darken($label-bg-color, 15%);

//line {
//  filter: drop-shadow(4px 4px 5px grey);
//}
//
//circle {
//  filter: drop-shadow(4px 4px 5px grey);
//}
